:root {
  --color-white: #ffffff;
  --color-cobalt: #1878E0;
  --color-cerulean: #0099D7;
  --color-grayfog: #EBEFF6;
  --color-graydove: #C5D6E6;
  --color-graymidnight: #324350;
  --color-grayshadow50: #416581;
  --color-graysteel: #5F83A5;
  --color-grayblue: #EAF0F7;
  --color-grayalt: #F8F9FA;
  --color-success: #6BC4A6;
  --color-error: #F76E40;
  --color-maroon: #6d2121;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Neuton&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: row;
  min-width: 90vw;
  min-height: 100vh;
}

.col {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 20px 0px; */
}

.col--left {
  /* mask: rgba(255,69,0,.5); */

  background-color: rgba(255,69,0,.5);
  
  color: var(--color-white);

  /* width: 100%; */
  height: 120%;
}

h1 {
  font-family: 'Neuton', serif;
  font-size: 6vw;
  margin: 10px 0;
}

h2 {
  font-family:'Times New Roman', Times, serif;
  font-size: 20pt;
}

p {
  font-family:'Times New Roman', Times, serif;
  font-size: 13pt;
  text-indent: 30px;
}
.col--right {
  background-color: var(--color-maroon);
}

.my_pic {
  /* display: flex; */
  background-image: url(violinPic.jpg);
  text-align: center;
  /* margin-bottom: 48px; */
  height: 100vh;
  width: 100%;
  background-position: center top;
  background-size: cover;
  /* right: 30vh; */
}

/* .my_pic img {
  width: 100%;
  height: 100vh;
} */

.text {
  padding: 0px 20px;
  text-align: left;
  color: var(--color-graydove)
}

.text p:first-child {
  margin-top: 0;
}


@media (max-aspect-ratio: 11/9) {
  body {
    flex-direction: column;
    height: 100vh;
  }
  
  .text {
    padding: 20px 20px;
  }

  h1 {
    font-family: 'Neuton', serif;
    font-size: 10vw;
    margin: 10px 0;
  }
}

@media (min-aspect-ratio: 11/9) {
  body {
    flex-direction: row;
  }
  .col {
    width: 100%;
    padding: 0 0;
  }

  .col--left {
    height: 100%;
  }

  .my_pic {
   background-size: cover;
  }

  .col--right {
    height: auto;
  }
}
